<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		form{
			width: 80%;
			background-color: #f2f2f2;
			padding: 30px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		}
	</style>
</head>
<body>
	<form action="/create" method="POST">
       <div><img src="static/images/game.jpg" style="background-color: brown">
		<h2>Sign Up</h2>
		FirstName:
		<input type="text" name="firstname" oninvalid="alert('You must fill out the form!');" style="margin-top: 15px" title="First Name">
		LastName:
		<input type="text" name="lastname"oninvalid="alert('You must fill out the form!');"><br><br>
		Email:
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="email" name="email"oninvalid="alert('You must fill out the form!');"><br><br>		Password:
		&nbsp&nbsp<input type="Password" name="password"oninvalid="alert('You must fill out the form!');"><br><br><br>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" style="margin-bottom: 50px">
	</div>
</form>

</body>
</html>