<!DOCTYPE html>
<html>
<head>
	<img src='/static/images/game-logo.jpg' style="background-color: #ffa64d;float: left;">
	<a  class="a2" href="{{url_for('starting')}}"target="starting_page">Main Page</a>
	<a  class="a2" href=""target="">Your Score</a>
	<a  class="a1" href="{{url_for('login')}}" target="starting_page">Login</a>
	<a  class="a1" href="{{url_for('creation')}}" target="starting_page">Sign Up</a>
<style type="text/css">
a.a1{
	float: right;
	color: white;
	font-size: 20px;
	text-decoration: none;
	margin-right: 20px;
	padding: 15px;
	text-shadow: 2px 2px black;
}
a.a2{
    float:left; 
	font-size:30px;
	color: white;
	text-decoration: none;
	padding: 15px;
	text-shadow: 2px 2px black;
}
a.a2:hover{
	background-color: #ddd;
	color: black;
}
</style></head>
<body style="background-color: #ffccb3">
</body>
</html>